html, body{
	margin: 0;
	padding: 0
}

h1 {
	font-family: Luminari, fantasy;
	color: ghostwhite;
	text-align: center;
}

.header {
	background: linear-gradient(#262626, #033454);
	padding: 20px;
}

.subtitle {
	font-style: italic;
	color: ghostwhite;
	text-align: center;
}

.menu-title {
	font-family: Luminari, fantasy;
	background-color: #033454;
	color: ghostwhite;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	border-style: none none dashed none;
	border-color: ghostwhite;
	border-width: 2px;

}

.menu {
	background: radial-gradient(#033454 2%, #262626 98%);
	width: 30%;
	height: 650px;
	border-style: ridge;
	border-width: 5px;
}

.fields {
   	font-family: Luminari, fantasy;
	background-color: #033454;
	color: ghostwhite;
	font-size: 16px;
	text-align: center;
	padding: 3px;
	border-style: groove;
	border-width: 3px;
    cursor: pointer;
    width: 100%;
    outline: none;
    transition: 0.4s;
}

.active, .fields:hover {
    background-color: #ccc; 
}

.fields-menu {
    padding-left: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: none;
    background-color: #033454;
    color: ghostwhite;
    overflow: hidden;
}

.confirm {
	background-color: seagreen;
	border: 2px solid lightseagreen;    
	color: ghostwhite;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
	border-radius: 16px;
}