html, body{
	margin: 0;
	padding: 0
}

h1 {
	font-family: Luminari, fantasy;
	color: ghostwhite;
	text-align: center;
}

.header {
	background: linear-gradient(#262626, #033454);
	padding: 20px;
}

.subtitle {
	font-style: italic;
	color: ghostwhite;
	text-align: center;
}

.menu-title {
	font-family: Luminari, fantasy;
	background-color: #033454;
	color: ghostwhite;
	font-size: 20px;
	text-align: center;
	padding: 5px;
	border-style: none none dashed none;
	border-color: ghostwhite;
	border-width: 2px;

}

.bigdiv {
	float: left;
	height: 680px;
	display: inline-block;
}

.menu {
	background: linear-gradient(#033454, #262626);
	border-style: ridge;
	border-width: 5px;
	width: 30%;
}

.graph {
	width: 65%;
}

.fields {
   	font-family: Luminari, fantasy;
	background-color: #033454;
	color: ghostwhite;
	font-size: 16px;
	text-align: center;
	padding: 3px;
	border-style: groove;
	border-width: 3px;
    cursor: pointer;
    width: 100%;
    outline: none;
    transition: 0.4s;
}

.active, .fields:hover {
    background-color: #262626; 
}

.fields-menu {
    padding-left: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: none;
    background-color: #033454;
    color: ghostwhite;
    overflow: hidden;
}

.confirm {
	font-family: Luminari, fantasy;
	background: radial-gradient(#023D2E, #034E3B);
	border: 2px solid #0D7B60;    
	color: ghostwhite;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
	border-radius: 16px;
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
}
label.checkbox {
    vertical-align: top;
    line-height: 28px;
    margin: 2px 0;
    display: block;
    height: 18px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #000;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 120px;					
    height: 120px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
